.todo-list-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.todo-list {
  width: 50%;
}
.task-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: antiquewhite;
}
.task {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.5em 0.5em;
  background-color: white;
  border-radius: 0.5em;
}
.task-content {
  display: flex;
  flex-direction: column;
}
.task-content > h2 {
  color: #9395d3;
  font-family: Helvetica;
  font-weight: 700;
  font-size: 1em;
}
.task-content > p {
}
